.header {
    /* background-color: rgb(240, 240, 240); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navLists {
    display: flex;
}

.navItems {
    padding: 8px;
    list-style: none;
    position: relative;
}

.navLink {
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
}

.navLink:hover {
    color: darkred;
    background-color: rgb(240, 240, 240);
    transition: 0.3s ease;
    border-radius: 10px;
    transform:scale(1.1)
}

.dropdown_btn {
    background: wheat;
    padding: 9px;
    position: absolute;
    left: 14;
    top: 24;
    border-radius: 10px;
}

.dropdown_li {
    list-style: none;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}

.dropdown_li:hover {
    background: lightblue;
    border-radius: 10px;
}