.header {
    /* background-color: rgb(240, 240, 240); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navLists {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 8;
}

.navItems {
    padding: 8px;
    list-style: none;
    
}

.navLink {
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
}

.navLink:hover {
    color: darkred;
    background-color: rgb(240, 240, 240);
    transition: 0.3s ease;
    border-radius: 10px;
    transform:scale(1.1)
}

.dropdown_btn {
    /* background: wheat; */

    font-weight: 600;

    border-radius: 10px;
}

.dropdown_li {
    list-style: none;

    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75 85 99);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;

    cursor: pointer;
}

.dropdown_li:hover {
    color: rgb(238, 182, 77);
}

.navSub1 {
    position: absolute;
    top: 5rem;
    display: none;
}

.navSub1:hover {
    display: block;
}

.navSub11 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.navSub111 {
    width: 1rem;
    height: 1rem;
    left: 0.75rem;
    position: absolute;
    margin-top: 0.25rem;
    background: wheat;
    transform: rotate(45deg);
}

.navSub2{
    background: wheat;
    padding: 0.875rem;
}