.header {
    /* background-color: rgb(240, 240, 240); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navLists {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 8;
}

.navItems {
    padding: 8px;
    list-style: none;
    
}

.navLink {
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
}

.navLink:hover {
    color: darkred;
    background-color: rgb(240, 240, 240);
    transition: 0.3s ease;
    border-radius: 10px;
    transform:scale(1.1)
}

.dropdown_btn {
    font-weight: 600;
}

.dropdown_li {
    list-style: none;

    font-size: 15px;
    line-height: 1.50rem;
    color: rgb(75 85 99);
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    cursor: pointer;
}

.dropdown_li:hover {
    color: black;
}


